.container {
  padding: 30px;
  margin: 50px auto;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

table {
  height: 100%;
  width: 80%;
  padding: 30px;
}

table th {
  text-align: left;
  /* padding-right: 50px; */
}

table td {
  padding: 5px 0;
}

h1 {
  text-align: center;
}

button {
  border-radius: 50px;
}
